body {
  background-image: url('../images/Wobbin-Black-BG-Tile-300x150.jpg');
}

.animal-button {
  margin-right: .5em;
  margin-bottom: .5em;
}

.form-control {
  width: 200px;
}

.animal-container {
  margin: 0 auto;
}

.animal-thumbnail a img{
  min-height: 200px;
  max-height:600px;
}

.animal-button:first-letter,
.animal-name:first-letter { 
  text-transform: uppercase;
}

.fixed-bottom {
  position: fixed;
  bottom : 1em;
  left: 1em;
}


body:after {
  content:"bottom spacer";
  display: block;
  clear: both;
  height: 200px;
  visibility: hidden;
}

img.animal-picture {
  margin: 0 auto;
}

.animal-thumbnail .thumbnail {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;

  text-align: center;

  margin-bottom: 5px;
}

.responsive-columns {
    -moz-column-gap: 5px;
    -ms-column-gap: 5px;
    -webkit-column-gap: 5px;
    column-gap: 5px;

    display: inline-block;

    margin: 0 3px 5px 3px;

    line-height: 5px;

    width: 400px;
    vertical-align: top;
}

/*@media (min-width: 800px) {
  .responsive-columns {
    -ms-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}


@media (min-width: 1200px) {
  .responsive-columns {
    -ms-column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 1800px) {
  .responsive-columns {
    -ms-column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}*/
